{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "chrome >= 61", "firefox >= 60"]
        },
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-typescript"
      ]
    }
  }
}